= form_for @alumno do |f|
  -if @alumno.errors.any?
    #error_explanation
      %h2= "#{pluralize(@alumno.errors.count, "error")} prohibited this alumno from being saved:"
      %ul
        - @alumno.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :apellido
    = f.text_field :apellido
  .field
    =f.label :email
    =f.text_field :email
  .field
    =f.label :emailuji
    =f.text_field :emailuji

  = f.fields_for :user do |form_user|
    .field
      = form_user.label :password
      = form_user.password_field :password
    .field
      = form_user.label :password_confirmation
      = form_user.password_field :password_confirmation

  .actions
    = f.submit 'Save'
