= form_for @alumno do |f|
  -if @alumno.errors.any?
    #error_explanation
      %h2= "#{pluralize(@alumno.errors.count, "error")} prohibited this alumno from being saved:"
      %ul
        - @alumno.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :nombre
    %br
    = f.text_field :nombre
  .field
    = f.label :apellido
    %br
    = f.text_field :apellido
  .field
    =f.label :email
    %br
    =f.text_field :email

  = f.fields_for :user do |form_user|
    .field
      =form_user.label :username
      %br
      =form_user.text_field :username
    .field
      =form_user.label :emailuji
      %br
      =form_user.text_field :emailuji
    .field
      = form_user.label :password
      %br
      = form_user.password_field :password
    .field
      = form_user.label :password_confirmation
      %br
      = form_user.password_field :password_confirmation

  .actions
    = f.submit 'Save'
