%h1 Listing alumnos

%table
  %tr
    %th Name
    %th Apellido
    %th Email
    %th
    %th

  - @alumnos.each do |alumno|
    %tr
      %td= link_to alumno.name, edit_alumno_path(alumno)
      %td= alumno.apellido
      %td= mail_to alumno.email

      %td= link_to image_tag("show.png"), alumnos_path
      %td= link_to image_tag("destroy.jpg"), alumno, :confirm => "¿Seguro que quieres eliminar al alumno #{alumno.name} #{alumno.apellido}?", :method => :delete, :title => "Eliminar al alumno"

%br

= link_to 'New Alumno', new_alumno_path
= link_to 'Asignaturas', asignaturas_path
