%h1 Listing alumnos
%table
  %tr
    %th Name
    %th Apellido
    %th Email
    %th
    %th

  - if signed_in?

    - if current_user && (["Administrador", "Profesor"].include? current_user.tipo)
      - @alumnos.each do |alumno|
        %tr
          %td= link_to alumno.name, edit_alumno_path(alumno)
          %td= alumno.apellido
          %td= mail_to alumno.email
          %td= link_to image_tag("show.png"), alumno
          %td= link_to image_tag("destroy.jpg"), alumno, :confirm =>   "¿Seguro que quieres eliminar al alumno #{alumno.name} #{alumno.apellido}?", :method => :delete, :title => "Eliminar al alumno"
    - else
      - @alumnos.each do |alumno|
        %tr
          %td= alumno.name
          %td= alumno.apellido
          %td= mail_to alumno.email
          %td= link_to image_tag("show.png"), alumno

  - else
    - @alumnos.each do |alumno|
      %tr
        %td= alumno.name
        %td= alumno.apellido
        %td= mail_to alumno.email


