%p#notice= notice

%p
  %b Name:
  = @alumno.name
%p
  %b Apellido:
  = @alumno.apellido
%p
  %b Email:
  =@alumno.email

%h2 Calificaciones
%ul
  - @alumno.calificaciones.each do |calificacion|
    %li
      = link_to calificacion.asignatura.subject, alumno_calificacion_path(calificacion) + ', ' + calificacion.nota.to_s
      -#= link_to "mostrar", alumno_calificacion_path(@alumno, calificacion)
      -#= link_to "mostrar", [@alumno, calificacion]
      = link_to image_tag("edit.png"), edit_alumno_calificacion_path(@alumno, calificacion)
      -#= link_to "editar", [:edit, @alumno, calificacion]

      = link_to image_tag("destroy.jpg"),alumno_calificacion_path(@alumno,calificacion), :confirm => "¿Seguro que quieres eliminar #{calificacion.asignatura.subject}?", :method => :delete, :title => "Elimina la asignatura"



= link_to "Nueva calificación", new_alumno_calificacion_path(@alumno)
\|
= link_to 'Edit', edit_alumno_path(@alumno)
\|
= link_to 'Back', alumnos_path
