= form_for @asignatura do |f|
  -if @asignatura.errors.any?
    #error_explanation
      %h2= "#{pluralize(@asignatura.errors.count, "error")} prohibited this asignatura from being saved:"
      %ul
        - @asignatura.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :asigntura
    = f.text_field :asignatura
  .field
    = f.label :temario
    = f.text_field :temario
  .field
    = f.label :profesor_id
    = f.collection_select :profesor_id, @profesors, :id, :nombre
  -#.field
    = f.date_select("asignaturas","diaexamen", :default => {:day =>20})

  .actions
    = f.submit 'Save'
