%h1 Listing asignaturas

%table
  %tr
    %th Subject
    %th Profesor
    %th Office
    %th Telephone
    %th Email

  - @asignaturas.each do |asignatura|
    %tr
      %td= link_to asignatura.subject, edit_asignatura_path(asignatura)
      %td= asignatura.profesor
      %td= asignatura.office
      %td= asignatura.telephone
      %td= mail_to asignatura.email

      %td= link_to image_tag("destroy.jpg"), asignatura, :confirm => "¿Seguro que quieres eliminar #{asignatura.subject}?", :method => :delete, :title => "Elimina la asignatura"

%br

= link_to 'New Asignatura', new_asignatura_path
= link_to 'Back', alumnos_path
