%h1 Listing asignaturas
%table
  %tr
    %th Asignatura
    %th Temario
    %th Profesor
    %th Día Examen
    %th Hora Examen
    %th
    %th

    - @asignaturas.each do |asignatura|
      %tr
        %td= asignatura.asignatura
        %td= asignatura.temario
        %td= asignatura.profesor.nombre
        %td= asignatura.diaexamen
        %td= asignatura.horaexamen

        - if current_user && current_user.tipo == "Administrador"
          %td= link_to image_tag("edit.png") , edit_asignatura_path(asignatura)
          %td= link_to image_tag("destroy.jpg"), asignatura,
            :confirm => "¿Seguro que quieres eliminar #{asignatura.asignatura}?",
            :method => :delete, :title => "Elimina la asignatura"

