- if current_user && (["Administrador", "Profesor"].include?current_user.tipo)

  %h1 Listing asignaturas

  %table
    %tr
      %th Subject
      %th Profesor
      %th Office
      %th Telephone
      %th Email

    - @asignaturas.each do |asignatura|
      %tr
        %td= link_to asignatura.subject, edit_asignatura_path(asignatura)
        %td= asignatura.profesor
        %td= asignatura.office
        %td= asignatura.telephone
        %td= mail_to asignatura.email

      - if current_user && current_user.tipo == "Administrador"
        %td= link_to image_tag("destroy.jpg"), asignatura, :confirm => "¿Seguro que quieres eliminar #{asignatura.subject}?", :method => :delete, :title => "Elimina la asignatura"
    - if current_user && current_user.tipo == "Administrador"
      = link_to 'Nuevo Profesor', new_asignatura_path(@asignatura)
- else
  %h1 Listing asignaturas

  %table
    %tr
      %th Subject
      %th Profesor
      %th Office
      %th Telephone
      %th Email

    - @asignaturas.each do |asignatura|
      %tr
        %td= asignatura.subject
        %td= asignatura.profesor
        %td= asignatura.office
        %td= asignatura.telephone
        %td= mail_to asignatura.email

