%p#notice= notice

%p
  %b Subject:
  = @asignatura.subject
%p
  %b Profesor:
  = @asignatura.profesor
%p
  %b Office:
  = @asignatura.office
%p
  %b Telephone:
  = @asignatura.telephone
%p
  %b Email:
  = @asignatura.email

= link_to 'Edit', edit_asignatura_path(@asignatura)
\|
= link_to 'Back', asignaturas_path
