%p#notice= notice

%p
  %b Asignatura:
  = @asignatura.asignatura
%p
  %b Profesor:
  = @asignatura.profesor
%p
  %b Oficina:
  = @asignatura.oficina
%p
  %b Telefono:
  = @asignatura.telefono
%p
  %b Email:
  = @asignatura.email

= link_to 'Edit', edit_asignatura_path(@asignatura)
\|
= link_to 'Back', asignaturas_path
