%p#notice= notice

%p
  %b Asignatura:
  = @asignatura.asignatura
%p
  %b Profesor:
  = @asignatura.profesor

= link_to 'Edit', edit_asignatura_path(@asignatura)
\|
= link_to 'Back', asignaturas_path
