%h1 Listing presencia

%table
  %tr
    %th Presentado
    %th
    %th
    %th

  - @presencia.each do |presencia|
    %tr
      %td= presencia.presentado
      %td= link_to 'Show', presencia
      %td= link_to 'Edit', edit_presencia_path(presencia)
      %td= link_to 'Destroy', presencia, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New presencia', new_presencias_path
