= form_for @profesor do |f|
  -if @profesor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@profesor.errors.count, "error")} prohibited this profesor from being saved:"
      %ul
        - @profesor.errors.full_messages.each do |msg|
          %li= msg

  %fieldset.datos_profesor
    %legend Matricular Profesor

    .field
      = f.label :nombre, :class=>"label"
      = f.text_field :nombre, :size=>"20", :maxlength=>"20"
    .field
      = f.label :apellido, :class=>"label"
      = f.text_field :apellido, :size=>"20", :maxlength=>"20"
    .field
      = f.label :email, :class=>"label"
      = f.text_field :email, :size=>"20", :maxlength=>"25"
    .field
      = f.label :oficina, :class=>"label"
      = f.text_field :oficina, :size=>"20", :maxlength=>"20"
    .field
      = f.label :telefono, :class=>"label"
      = f.text_field :telefono, :size=>"20", :maxlength=>"20"

  = f.fields_for :user do |form_user|
    %fieldset.datos_usuario
      %legend Registrar Usuario
      .field
        =form_user.label :username, :class=>"label"
        =form_user.text_field :username, :size=>"20", :maxlength=>"20"
      .field
        = form_user.label :emailuji, :class=>"label"
        = form_user.text_field :emailuji, :size=>"20", :maxlength=>"25"
      .field
        = form_user.label :password, :class=>"label"
        = form_user.password_field :password, :size=>"20", :maxlength=>"25"
      .field
        = form_user.label :password_confirmation, :class=>"label"
        = form_user.password_field :password_confirmation, :size=>"20", :maxlength=>"25"

  .actions
    = f.submit 'Save'
