= form_for @profesor do |f|
  -if @profesor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@profesor.errors.count, "error")} prohibited this profesor from being saved:"
      %ul
        - @profesor.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :nombre
    = f.text_field :nombre
  .field
    = f.label :apellido
    = f.text_field :apellido
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :oficina
    = f.text_field :oficina
  .field
    = f.label :telefono
    = f.text_field :telefono

  = f.fields_for :user do |form_user|
    .field
      =form_user.label :username
      =form_user.text_field :username
    .field
      = form_user.label :emailuji
      = form_user.text_field :emailuji
    .field
      = form_user.label :password
      = form_user.password_field :password
    .field
      = form_user.label :password_confirmation
      = form_user.password_field :password_confirmation

  .actions
    = f.submit 'Save'
