- administrador = current_user && current_user.role == "Administrador"

%h1 Usuarios Registrados

%table
  %tr
    %th UserName
    %th EmailUji

  - @users.each do |user|
    %tr
      %td= user.username
      %td= mail_to user.emailuji


      - if administrador
        %td= link_to image_tag("edit.png"), edit_user_path(user)
        %td= link_to image_tag("destroy.jpg"), user, :confirm => "¿Seguro que quieres eliminar al usuario #{user.username}?", :method => :delete, :title => "Eliminar al usuario"
-#- if administrador
  -#= link_to 'New User', new_user_path


