- administrador = current_user && current_user.tipo == "Administrador"

%h1 Usuarios Registrados

%table
  %tr
    %th Nombre
    %th Apellidos
    %th Email

  - @users.each do |user|
    %tr
      %td= user.name
      %td= user.surname
      %td= user.email


      - if administrador
        %td= link_to image_tag("edit.png"), edit_user_path(user)
        %td= link_to image_tag("destroy.jpg"), user, :confirm => "¿Seguro que quieres eliminar al usuario #{user.name} #{user.surname}?", :method => :delete, :title => "Eliminar al usuario"
- if administrador
  = link_to 'New User', new_user_path


