%h1 Sign Up

= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this alumno from being saved:"
      %h2 Form is invalid
      %ul
        - @alumno.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :username
    %br
    = f.text_field :username
  .field
    =f.label :emailuji
    %br
    =f.text_field :emailuji
  .field
    = f.label :password
    %br
    = f.password_field :password
  .field
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation
  -#.field
    -#= f.label :alumno_id
    -#= f.collection_select :alumno_id, @alumnos, :id, :name, :prompt => ""
  .actions
    = f.submit 'Save'
