= form_for @calificacion do |f|
  -if @calificacion.errors.any?
    #error_explanation
      %h2= "#{pluralize(@calificacion.errors.count, "error")} prohibited this calificacion from being saved:"
      %ul
        - @calificacion.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :alumno_id
    = f.text_field :alumno_id
  .field
    = f.label :asignatura_id
    = f.text_field :asignatura_id
  .field
    = f.label :nota
    = f.text_field :nota
  .actions
    = f.submit 'Save'
