%h1 Listing calificaciones

%table
  %tr
    %th Nota
    %th
    %th
    %th

  - @calificaciones.each do |calificacion|
    %tr
      %td= calificacion.nota
      %td= link_to 'Show', calificacion
      %td= link_to 'Edit', edit_calificacion_path(calificacion)
      %td= link_to 'Destroy', calificacion, :confirm => 'Are you sure?', :method => :delete
%br

= link_to 'New Calificacion', new_calificacion_path
